<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
<%= stylesheet_link_tag '/css/cards.css', media: 'all' %>

<title><%= @model["title"] %></title>
</head>
<body>

<section class="sheet">
  <h1><%= @model["title"] %></h1>
  <img src='<%= @model["image"] %>' />
  <div class="ingredients">
    <ul>
    <%- @model["ingredients"].each do |item| -%>
      <li><%= item["name"] %> : <%= item["quantity"] %></li>
    <%- end -%>
    </ul>
  </div>

  <div class="instruction-steps">
    STEPS
    <ul>
    <%- @model["steps"].each do |item| -%>
      <li><%= item %></li>
    <%- end -%>
    </ul>
  </div>

  <div class="cite">
  <p><%= @model["source"] %> : <%= @model["url"] %></p>
  </div>
</section>
</body>
</html>
